{% extends 'base.html' %}
{% load static %}

{% block head_title %}{{ block.super }} - Home {% endblock head_title %}

{% block content %}

{% include "essential/header.html" %}
{% include "essential/banner.html" %}

<!-- blog wrapper start -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">
          <span>Recent posts</span>
        </h2>
      </div>
    </div>
    <div class="row gy-5 gx-4 g-xl-5">
      {% for post in posts %}
      <div class="col-lg-6">
        <article class="card post-card h-100 border-0 bg-transparent">
          <div class="card-body">
            <a class="d-block" href="{% url 'post_detail' post.slug %}" title="{{ post.title }}">
              <div class="post-image position-relative">
                <img class="w-100 h-auto rounded" src="{% static 'images/blog/02.jpg' %}" alt="{{ post.title }}" width="970" height="500">
              </div>
            </a>
            <ul class="card-meta list-inline mb-3">
              <li class="list-inline-item mt-2">
                <i class="ti ti-calendar-event"></i>
                <span>{{ post.created_at|date:"d M, Y" }}</span>
              </li>
              <li class="list-inline-item mt-2">—</li>
              <li class="list-inline-item mt-2">
                <i class="ti ti-clock"></i>
                <span>2 min read</span>
              </li>
            </ul>
            <a class="d-block" href="{% url 'post_detail' post.slug %}" title="{{ post.title }}">
              <h3 class="mb-3 post-title">
                {{ post.title }}
              </h3>
            </a>
            <p>{{ post.content|truncatewords:30 }}</p>
          </div>
          <div class="card-footer border-top-0 bg-transparent p-0">
            <ul class="card-meta list-inline">
              <li class="list-inline-item mt-2">
                <img class="w-auto" src="{% static 'images/author/thomas-macaulay.jpg' %}" alt="{{ post.author.get_full_name }}" width="26" height="26"> by <span>{{ post.author }}</span>
              </li>
              <li class="list-inline-item mt-2">•</li>
              <li class="list-inline-item mt-2">
                <ul class="card-meta-tag list-inline">
                  {% for tag in tags %}
                    <li class="list-inline-item small"><a href="{% url 'tag_detail' tag.slug %}">{{ tag.name }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </div>
        </article>
      </div>
      {% empty %}
      <div class="col-12">
        <p>No blog posts available.</p>
      </div>
      {% endfor %}
    </div>
    
    <!-- View all posts button, outside the for loop -->
    <div class="row">
      <div class="col-12 text-center">
        <a class="btn btn-primary mt-5" href="blog.html" aria-label="View all posts"><i class="ti ti-new-section me-2"></i>View all posts</a>
      </div>
    </div>

  </div>
</section>
<!-- blog wrapper end -->

{% include "essential/footer.html" %}

{% endblock %}
